*{
    list-style: none;
    padding: 0px;
}

  
body {
    margin: 0;
}
.nav{
    position: absolute;
    width: 1280px;
    height: 50px;
    background: #006400;
    top: 0%;
}
.nav ul li{
    font-size:19px;
    float: right;
    margin: 0px 10px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    transition: .5s;
}
.nav ul li:hover{
    transform: scale(1.1);
}
.logo{
    padding-left: 10px;
}
.logo li a{
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}
.welcome{
    font-size: 30px;
    font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
    text-align: center;
    padding-top: 40px;
}
.desc{
    font-size: 20px;
    text-align: center;
}
.supporter{
    padding: 40px;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.supporter a{
    text-decoration: none;
    color: #006400;
    border: 1px solid #006400;
    border-radius: 6px;
    padding: 10px;
    transition: 0.1s;
}
.supporter a:hover{
    background: #006400;
    color: white;
}
.desc2{
    padding-top: 10px;
    text-align: center;
    font-size: 22px;
}
.quote{
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
}
.credit{
    text-align: center;
    font-size: 21px;
    color: #777777;
}
.status{
    padding-top: 10px;
    text-align: center;
    font-size: 23px;
}
.status .three, .four{
    color: #006400;
}
.projects{
    padding-top: 10px;
    text-align: center;
    font-size: 23px;
}
.projects .zero,.thirty{
    color: #006400;
}
.certificates{
    padding-top: 10px;
    text-align: center;
    font-size: 23px;
}
.certificates .zero,.six{
    color: #006400;
}
.curriculum{
    padding: 40px;
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.curriculum a{
    text-decoration: none;
    color: #006400;
    border: 1px solid #006400;
    border-radius: 6px;
    padding: 10px;
    transition: 0.1s;
}
.curriculum a:hover{
    background: #006400;
    color: white;
}

